.video-card:hover {
  border: 1px solid #333;
}

.box {
  /* border: 1px solid #333333; */
  width: 100%;
  height: 70px;
  overflow: hidden;
}

.word {
  /* border: 1px solid #333333; */
  width: 75%;
  height: 50px;
  overflow: hidden;
}
